<%- model_class = Discussion -%>

<div id="discussion-index" class="sticky col-sm-12 col-xs-12 col-md-12 col-lg-12">
  <div class="page-header">
    <span class="hidden-sm hidden-xs">Themen Übersicht:</span>
    <%= link_to raw("Alle <span class='hidden-sm hidden-xs'>Themen</span>"),
        discussions_path(),
        :class => "btn #{@state.blank? ? 'btn-success' : 'btn-default'}" %>
    <%= link_to raw("Offene <span class='hidden-sm hidden-xs'>Themen</span>"),
        discussions_path(:state => "opened"),
        :class => "btn #{@state.present? && @state == 'opened' ? 'btn-success' : 'btn-default'} " %>
    <%= link_to raw("Geschlossene <span class='hidden-sm hidden-xs'>Themen</span>"),
        discussions_path(:state => "closed"),
        :class => "btn #{@state.present? && @state == 'closed' ? 'btn-success' : 'btn-default'}" %>
    <%= link_to raw("Neues <span class='hidden-sm hidden-xs'>Themen</span> erstellen"),
        new_discussion_path,
        :class => 'btn btn-primary' %>
  </div>

  <div class="row hidden-xs hidden-sm">
    <div class="col-sm-12">
      Filter:
        <%= link_to "Alle", discussions_path(), :class => "btn btn-default" %>
      <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <% next if tag.taggings_count == 1 %>
        <%= link_to discussions_path(tag: tag.name), :class => "btn btn-default #{css_class}" do %>
          <%= tag.name %>
          <span class="badge"><%= tag.taggings_count %></span>
        <% end %>
      <% end %>
      </div>
  </div>
</div>

<div class="row hidden-xs hidden-sm"><div class="col-sm-12">&nbsp;</div></div>

<div class="table-responsive col-sm-12 col-xs-12 col-md-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Titel</th>
        <th class="hidden-sm hidden-xs">Moderator</th>
        <% unless params[:state].present? %>
          <th class="hidden-sm hidden-xs"><%= model_class.human_attribute_name(:state) %></th>
        <% end %>
        <th>Beiträge</th>
        <th>Bilder</th>
        <th><span class='glyphicon glyphicon-thumbs-up'></span></th>
        <th><span class='glyphicon glyphicon-thumbs-down'></span></th>
        <th class="hidden-sm hidden-xs">Erstellt am</th>
        <th>Letzer Beitrag am</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @discussions.each do |discussion| %>
        <% next unless discussion.readable_by(current_user) %>
        <% unread_count = discussion.unread_articles(current_user) %>
        <tr>
          <td>
            <% if !discussion.public && discussion.selected_users.any? %>
              <span class="glyphicon glyphicon-lock"></span>
            <% end %>
            <%= link_to discussion.title, discussion_path(discussion) %>
          </td>
          <% if discussion.user.present? && discussion.user.privacy %>
            <td class="hidden-sm hidden-xs"><%= link_to "mailto:#{discussion.try(:user).try(:email)}?subject=#{discussion.title}" do %><span class="glyphicon glyphicon-envelope"></span> <%= discussion.try(:user).try(:short_name) %><% end %></td>
          <% else %>
            <td class="hidden-sm hidden-xs"><%= link_to "mailto:metz@gounod.berlin?subject=ID#{discussion.id}: #{discussion.title}" do %><span class="glyphicon glyphicon-envelope"></span> <%= discussion.try(:user).try(:short_name) %><% end %></td>
          <% end %>
          <% unless params[:state].present? %>
            <td class="hidden-sm hidden-xs"><%= tag_label(t(discussion.state) , :success) %></td>
          <% end %>
          <td><center><%= discussion.articles.count %> <%= badge("#{unread_count} ungelesen", :warnng) if unread_count > 0 %></center></td>
          <td><center><%= badge(discussion.uploads.count, :warnng) %></center></td>
          <td><%= discussion.count_votes_up %></td>
          <td><%= discussion.count_votes_down %></td>
          <td class="hidden-sm hidden-xs"><%= discussion.created_at.strftime("%d.%m.%Y %H:%M Uhr") %></td>
          <td><%= discussion.articles.try(:first).try(:updated_at).try(:strftime, "%d.%m.%Y %H:%M Uhr") %></td>
          <td>
            <%= link_to "Ansehen", discussion_path(discussion), :class => 'btn btn-success btn-xs' %>
            <% if discussion.user == current_user || current_user.has_role?(:moderator, discussion) || current_user.has_role?(:admin) %>
              <%= link_to "Bearbeiten", edit_discussion_path(discussion), :class => 'btn btn-default btn-xs' %>
            <% end %>
            <% if current_user.has_role?(:admin) %>
              <%= link_to "Löschen",
                        discussion_path(discussion),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>