<style>
  body {
    background-color: lightgrey;
    background-image: url("http://www.gounod.berlin/assets/backgroundemail.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size:cover;
  }
</style>

<div style="margin: 10px auto; border:1px solid grey;border-radius:10px;padding:20px;background-color: white;">
  <div style="color:grey">
    <p><%= @greeting %>, <br>
    <br>es wurde ein neuer Beitrag erstellt (<%= @article.try(:user).try(:short_name) %>):</p>
  </div>

  <h3><%= @article.discussion.title %></h3>
  <%= raw(@article.description) %>
  <br><br>

  <div style="color:grey">
    <p>Über folgenden Link sind Sie direkt angemeldet und im Thema:<br>
    <%= link_to "http://www.gounod.berlin/discussions/#{@article.discussion.id}?auth_token=#{@user.authentication_token}", "http://www.gounod.berlin/discussions/#{@article.discussion.id}?auth_token=#{@user.authentication_token}" %>
    </p>
  </div>
</div>